#arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6%;
}

#text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 100%;
}

.InfoButtonBar {
    margin: 8% 0% 8% 53%;
    height: 10%;
}

#back {
  float: left;
  margin-left: 0px;
  margin-bottom: 0px;
  height: 1em;
  font-size: 4em;
  width: 8%;
  border: none;
  padding:0;
}

.InfoButtonBar input[type="button"] {
  background: url(/css_img/screen2/button_inactive.png);
  background-position: center center;
  background-size: 100% 100%;
  border: none;
  padding-bottom: 5%;
  padding-left: 5%;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 4em;
  align-content: center;
  height: 2.5em;
  width: 43%;
}

#similarities {
    float: left;
}

#neighbours {
    float: right;
}

#reset {
  float: right;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 1em;
  font-size: 4em;
  width: 8%;
}


.Container2 {
  position: absolute;
  height: 100%;
  width: 71%;
  margin: 6% 15% 0% 14%;;
}

.Container2 h2 {
  margin: 11% 0 1%;
}

.Container2 p {
  margin: 4% 0 0 0;
}
