.grid-container {
  display: grid;
  grid-column-gap: 6%;
  grid-template-columns: 50% 50%;
  align-items: flex-end;
}

.grid-container p {
  color: black;
  padding-right: 12%;
  margin: 0;
}

.grid-element {
  margin-top: 4%;
  margin-bottom: 5%;
}

h1 {
  padding-top: 3%;
  padding-bottom: 4%;
}

input[type="text"] {
  width: 87%;
  height: 2.6em;
  margin: 2.5% 0%;
  font-size: 3em;
  border: 1px solid #000000;
}

input[type="button"] {
  height: 1em;
  padding: 50%;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  color: #005321;
  background: transparent;
  border: none;
}

input[type="button"]:disabled {
  color: #d8e5dd;
}

#title {
  width: 100%;
}

#reset_1 {
  float: left;
  margin-left: 0;
  margin-bottom: 0;
  border:none;
  padding:0;
  height: 1em;
  font-size: 4em;
}

#more {
  float: right;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 1em;
  font-size: 4em;
}

#generate {
  background: url(/css_img/screen1/generate_active.png);
  background-position: center center;
  background-size: 100% 100%;
  margin: 5% 0% 5.4% -1.53%;
  width: 101.5%;
  height: 9%;
}

#generate:disabled {
  background: url(/css_img/screen1/generate_inactive.png);
  background-position: center center;
  background-size: 100% 100%;
}
