body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media screen and (min-width: 2501px) {
  body {
    font-size: 100%;
  }
}

@media screen and (max-width: 2500px) {
  body, #generate {
    font-size: 70%;
  }
}

@media screen and (max-width: 1500px) {
  body, #generate {
    font-size: 50%;
  }
}

@media screen and (max-width: 1000px) {
  body, #generate {
    font-size: 30%;
  }
}

bodyl::-webkit-scrollbar {
             display: none;
         }

h1 {
  font-size: 5em;
  color: #005321;
  font-weight: 900;
  font-style: italic;
}

h2 {
  font-size: 4em;
  color: #005321;
  font-weight: 9s00;
  font-style: italic;
}

p {
  font-size: 3.6em;
  color: #005321;
}
