<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/app.css">
    <title>How to call your future kids</title>
  </head>
  <body>
    <video id="animation" autoPlay loop>
      <source src="/static/videos/v_victim_klein_schwarz_1.mp4" type="video/mp4"/>
    </video>

    <form id="form">
      <textarea id="inputKidsName" rows="6">Mira</textarea>
      <div>
        Find out what your input is associated with by word embedding algorithms used all over the world.
      </div>
      <input id="inputSubmitButton" type="submit" value="Generate">
    </form>
    <div hidden id="choice buttons">
      <input type="button" onclick="window.location.href=('mobileInterpretation');" value="Interpretation"/>
      <input type="button" onclick="window.location.href=('mobileTurningPoint');" value="Turning Point"/>
      <input type="button" onclick="window.location.href=('mobileRelevance');" value="Relevance"/>
    </div>

    <input hidden id="reset" type="button" value="Reset"/>

    <input hidden id="back" type="button" value="Back"/>

    <script src="static/app.js"></script>

  </body>
</html>
