<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title {{currentScreen}} </title>
  </head>
  <body>
    <video style="width: 100%;" id="animation" autoPlay>
      <source src={{first_video}} type="video/mp4"/>
    </video>
    <script>
      const video = document.getElementById('animation');
      video.addEventListener('ended',showNextVideo,false);
      // show next video
      function showNextVideo(){
              video.setAttribute("src", "{{second_video}}" );
              video.load();
              video.play();
         };





      let intervalID = window.setInterval(fetchStatus, 5000);

      function updateScreen(json){
        if (json.currentBigScreen === "{{currentScreen}}") {
          return;
        }
        else if (json.currentBigScreen === "idle") {
          window.location.href=('bigScreenIdle');
        }
        else if (json.currentBigScreen === "intro") {
          window.location.href=('bigScreenIntroduction');
        }
        else if (json.currentBigScreen === "interpretation intro") {
          window.location.href=('bigScreenInterpretationIntro');
        }

      }

      function fetchStatus() {
        fetch('/getMirrorState', {
          method: "GET",
          header: {
            accept: "application/json"
          }
        })
          .then(function(response) {
              response.json().then(function (json) {
                      updateScreen(json);
              });
        })
      }

    </script>

  </body>
</html>
