<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title {{video}} {{currentScreen}} </title>
  </head>
  <body>
    <video style="width: 100% ;" id="animation" autoPlay>
      <source src={{video}} type="video/mp4"/>
    </video>
    <script>
      document.getElementById('animation').addEventListener('ended',showNextPage,false);

      let intervalID = window.setInterval(fetchStatus, 5000);

      function showNextPage(e) {
          window.location.href=('bigScreenInterpretation');
      }

      function updateScreen(json){
        if (json.currentBigScreen === "{{currentScreen}}") {
          return;
        }
        else if (json.currentBigScreen === "idle") {
          window.location.href=('bigScreenIdle');
        }
        else if (json.currentBigScreen === "intro") {
          window.location.href=('bigScreenIntroduction');
        }
        else if (json.currentBigScreen === "interpretation intro") {
          window.location.href=('bigScreenInterpretationIntro');
        }

      }

      function fetchStatus() {
        fetch('/getMirrorState', {
          method: "GET",
          header: {
            accept: "application/json"
          }
        })
          .then(function(response) {
              response.json().then(function (json) {
                      updateScreen(json);
              });
        })
      }

    </script>

  </body>
</html>
