<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title</title>
  </head>
  <body>
    <video width="400" id="animation" autoPlay loop>
      <source src="/static/videos/idleBigScreen.mp4" type="video/mp4"/>
    </video>

    <script>
      function updateScreen(json){
        if (json.isIdle === "False") {
          window.location.href=('bigScreenIntroduction');
        }
      }

      function fetchStatus() {
        fetch('/getMirrorState', {
          method: "GET",
          header: {
            accept: "application/json"
          }
        })
          .then(function(response) {
              response.json().then(function (json) {
                      updateScreen(json);
              });
        })
      }

      let intervalID = window.setInterval(fetchStatus, 1000);
    </script>

  </body>
</html>
