<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>How to call?</title>
  </head>
  <body>
      <div>
        <h1> How to call your future kids </h1>
      </div>

      <form id="form">
        <textarea id="inputKidsName" rows="6">Mira</textarea>
        <div>
          Find out what your input is associated with by word embedding algorithms used all over the world.
        </div>
        <input id="inputSumbmitButton" type="submit" value="Generate">
      </form>

    <script>

      const form = document.getElementById('form')
      form.onsubmit = submit;

      function submit(event) {
        event.preventDefault();
        let name = event.target.inputKidsName.value;
        //todo: sanitize names? Split them?
        fetch('postAttributes?words=' + name,{
              method: "POST",
            }).then(function(response) {
              // load next page
              //ToDo: wait until big Screen interpretation Intro is over
              window.location.replace("/mobileChoice");
          })
      }
    </script>

  </body>
</html>
