<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Waiting for Input</title>
  </head>
  <body id="body">
    <video id="idleElement" autoPlay loop>
      <source src="/static/videos/idleMobile.mp4" type="video/mp4"/>
    </video>
    <script>
        const body = document.getElementById('idleElement');
        //body.addEventListener("touchend", showInputPage, false);
        body.ontouchend = showInputPage;
        function showInputPage(event) {
          event.preventDefault();
          // load next page
          window.location.replace("/mobileStart");
          }
    </script>
  </body>
</html>
