<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title id="title">{{name}}</title>
  </head>
  <body>
    <div>
      <h1 id="headline"> {{name}} </h1>
    </div>
    <input type="button" onclick="window.location.href=('mobileInterpretation');" value="Interpretation"/>
    <input type="button" onclick="window.location.href=('mobileTurningPoint');" value="Turning Point"/>
    <input type="button" onclick="window.location.href=('mobileRelevance');" value="Relevance"/>
    <input type="button" onclick="window.location.href=('mobileStart');" value="Back"/>
    <input type="button" onclick="fetch('resetMirror', {method: 'POST' }).then(function(response) {window.location.href=('mobileStart');})" value="Reset"/>
  </body>
</html>
