<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>How to call?</title>
  </head>
  <body>
      <div id="overlay" hidden="True" style="opacity:    0.5;
                  background: #000;
                  width:      100%;
                  height:     100%;
                  z-index:    10;
                  top:        0;
                  left:       0;
                  position:   fixed; ">
      </div>
      <div>
        <h1> How to call your future kids </h1>
      </div>

      <form id="form">
        <textarea id="inputKidsName" rows="6">Mira</textarea>
        <div>
          Find out what your input is associated with by word embedding algorithms used all over the world.
        </div>
        <input id="inputSumbmitButton" type="submit" value="Generate">
      </form>

    <script>

      const form = document.getElementById('form')
      form.onsubmit = submit;
      const overlay = document.getElementById('overlay');
      const generateButton = document.getElementById('inputSumbmitButton');

      function submit(event) {
        event.preventDefault();
        let name = event.target.inputKidsName.value;
        //todo: sanitize names? Split them?
        overlay.hidden = false;
        generateButton.disabled = true;
        fetch('postAttributes?words=' + name,{
              method: "POST",
            }).then(function(response) {
              setTimeout(function(){
                  window.location.replace("/mobileChoice");
              }, 5000); //50000
          })
      }
    </script>

  </body>
</html>
